@import '../App.scss';

#footer {
  background-color: $dark;
  border-top: 1px solid tint-color($light, 20%);
  color: $white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: $white;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .footer-logo {
      margin-right: 1rem;
      max-width: 150px;
      display: flex;
      flex-direction: column;
      .logo-img {
        width: 100px;
        height: auto;
      }

      .logo-text {
        font-weight: bold;
        margin-top: 0.5rem;
      }
    }
    .footer-lists {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;

      .footer-list-container {
        display: flex;
        flex-direction: column;

        .footer-list-title {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .footer-list-item a {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .item-icon {
          width: 1.2rem;
          height: auto;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .footer-copyright {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    a {
      color: $secondary;
      text-decoration: none;
      &:hover {
        color: tint-color($secondary, 20%);
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .footer-logo {
        margin-bottom: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .footer-lists {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-list-container {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .footer-list-title {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
